/* Font style */
@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Import Navigation Bar component style link */
@import url("./component/navigation-bar.css");
/* Import Navigation Bar component style link */
@import url("./component/sidebar.css");
/* Import Entry container component style link */
@import url("./component/entry-container.css");
/* Import Footer component style link */
@import url('./component/footer.css');
/* Start Guide Line: use for make a guide line that use in the project such as color, padding, margin, gap */
:root {
  /* For font */
  --font-style: "Andika", sans-serif;
  /* For Gap */
  --menu-gap: 2rem;
  /* For color and backgroun-color */
  --color-dark-blue: #2c4759;
  --color-white: white;
  --icon-search-bg: #e9e9e9;
  --nav-bar-bg: #ecb176;
  --side-bar-bg: #ead8c0;
  --color-dark-red: #941313;
  --color-title-entry: #DED0B6;
  --popup-text-color: #C7C8CC;
  /* For border radius */
  --radius-circle: 100%;
  --border-radius: 30px;
  --diary-radius: 10px;
  /* For padding */
  --padding-button: 5px;
  --padding-default: 40px;
  --padding-center: 0 50px;
  --icon-search: 20px 0 0 20px;
  /* For Margin */
  --margin-top: 40px;
  --margin-top-ten: 10px;
}
/* End Guide Line */

/* We set font-size: 62.5%: use for set 1rem to 10px , as normally 1rem equal 16px */
html {
  font-size: 62.5%;
}

/* Use * to set the global with padding 0, margin = 0, box-sizing: border-box */
*,
*::after,
*::after {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set a default style og Button */
button {
  cursor: pointer;
  background: none;
}

/* Font use in the whole project */
body {
  font-family: var(--font-style);
}

/* list-style-type: use to change a default list style of ul to none */
ul {
  list-style-type: none;
  padding: 0;
}
a,
li,
p {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  margin: 0;
  font-weight: 490;
}
textarea:focus, input:focus{
  outline: none;
}
/* Container max width: use it for set size of screen in my website */
.container-max-width {
  max-width: 100%;
  padding: var(--padding-center);
} 

/* Backgroud blur style */
.background-blur{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(35, 33, 33, 0.2);
  backdrop-filter: blur(2px);
  z-index: 90;
}
.background-blur.bg-blur{
  opacity: 0;
  visibility: hidden;
}
html{
  overflow-y: scroll;
}
/* Overflow hidden */
.overflow-y-hidden {
  overflow-y: hidden;
}
