/* Container max width: use it for set size of screen in my website */
.container-max-width {
  max-width: 100%;
  padding: 0 50px;
}

/* Start Navigation Bar */
.header {
  background: var(--nav-bar-bg);
}

/* Start Navigation Contanier */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-bar h1 {
  display: none;
}

/* Start Navigation bar left */
.navigation-left {
  display: flex;
  align-items: center;
  gap: var(--menu-gap);
}
.logo {
  width: 60px;
}
.logo img {
  width: 100%;
}

/* Menu-bar-icon */
.menu-bar-icon {
  display: none;
  color: var(--color-dark-blue);
}
.menu-bar {
  font-size: 40px;
}

/* End Navigation bar left */

/* Start navigation menu container */
.navigation-menu {
  display: flex;
  gap: var(--menu-gap);
  color: var(--color-dark-blue);
}
/* End navigation menu container */

/* Start Navigation right container */
.navigation-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--menu-gap);
}
.search-container {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 140px;
  height: 47px;
  border-radius: var(--border-radius);
  background: var(--color-white);
}

/* Search icon button */
.search-btn {
  height: 47px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--icon-search);
  background: var(--icon-search-bg);
}

/* Search Title */
.search-title {
  color: #686363;
  font-size: 16px;
}

/* Person Icon */
.navigation-right > span {
  color: var(--color-white);
}
/* End Navigation right container */

/* Start Responsive of Navigation Bar */
@media screen and (max-width: 767px) {
  .navigation-bar h1 {
    display: flex;
  }
  .navigation-left h3 {
    display: none;
  }
  .navigation-right {
    display: none;
  }
  .navigation-menu {
    display: none;
  }
  .menu-bar-icon {
    display: flex;
  }
}
/* End Responsive of Navigation Bar */
